@import '~bootstrap/scss/bootstrap';
body {
  background-color: grey;
  margin-top: 300px;
}
h1 {
  text-align: center;
  color: black;
}
.btn {
  outline: solid;
  margin-left: 10px;
  margin-right: 10px;
}

.box {
  align-items: center;
  background-color:white;
  border: 3px solid black;
  color:black;
  display: flex;
  font-family: 'Playfair Display', serif;
  height: 80px;
  justify-content: center;
}


.container {
  max-width: 376px;
}
.restart-game {
  margin-top: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
}

p {
  font-size: 75px;
  text-align: center;
}

.disabled-div {
  pointer-events: none;
}

#player {
  text-align: center;
  text-decoration: solid;
  font-size: 50px;
}
